.home-container{
    background-image: url(../../images/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

/* .home-container::after{
    background-image: url(../../images/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    content:' ';
    opacity: .7;
    z-index: -50;

} */
